{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>
<br>
<form method='POST' action='/results'>
<table>
    <p>Na tej stronie możesz wyliczyć szczegóły dotyczące <b>kwot netto/brutto</b> oraz należnego <b>podatku</b> dla Umowy o dzieło.</p>

<br><p>Poniżej wprowadź kwotę oraz wartość kosztów uzyskania przychodu.</p>
<tr>
    <td>Kwota <select name="type_of_salary">
		<option value="gross">brutto</option>
		<option value="net">netto</option>
	</select>:</td>
    <td><input name='salary' type='NUMBER' width='60'></td>
</tr>
<tr>
    <td>Koszty uzyskania przychodu:</td>
    <td>
        <input type="radio" name="cost_income" value="0.2" checked>20%
        <input type="radio" name="cost_income" value="0.5">50%
	</td>
</tr>
</table>
<p>Aby sprawdzić wyliczenia, kliknij poniższy przycisk.</p>
<p><input value='Oblicz' type='SUBMIT'></p>
</form>
<br>
<br>
<br>
    <note>Kalkulator podaje prawidłowe wyliczenia w przypadku, gdy umowa nie jest zawarta z obecnym pracodawcą u którego
    jesteś zatrudniony na podstawie umowy o pracę (nie uwzględniono obliczeń składek na ubezpieczenia).</note>

{% endblock %}