{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>
<br>
<form method='POST' action='/results'>
<table>
<p>Na tej stronie możesz wyliczyć szczegóły dotyczące kwot netto/brutto, należnego podatku dla Umowy o dzieło.</p>
<br><p>Aby to uczynić, wprowadź kwotę netto oraz wartość kosztów uzyskania przychodu.</p>

<tr>
    <td>Kwota netto:</td><td><input name='salary' type='NUMBER' width='60'></td>
</tr>
<tr>
    <td>Koszty uzyskania przychodu:</td>
    <td>
        <input type="radio" name="cost_income" value="0.2">20%
        <input type="radio" name="cost_income" value="0.5">50%
	</td>
</tr>
</table>
<p>Aby sprawdzić wyliczenia, kliknij poniższy przycisk.</p>
<p><input value='Oblicz' type='SUBMIT'></p>
</form>

{% endblock %}